<header>
  <div class="wrapper">
    <div class="logo">
      <img
        src="https://d312obd2q0lyz0.cloudfront.net/public/img/logo-product.svg"
        alt=""
      />
    </div>
    <ul class="nav-area">
      <li><a href="#">Home</a></li>
      <li><a routerLink="/aboutus">AboutUs</a></li>
      <li><a routerLink="/advertisements">Active Advertisements</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/contactus">Contact</a></li>
    </ul>
  </div>
  <div class="welcome-text">
    <h1>Farmer Assistance</h1>
    <a href="#">Contact US</a>
  </div>
</header>
