<div class="main">
  <div class="container">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front form">
          <h4>Admin</h4>
        </div>
        <div class="flip-card-back">
          <p class="back">Click to Enter</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front form">
          <h4>Farmer</h4>
        </div>
        <div class="flip-card-back">
          <p class="back">Click to Enter</p>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front form">
          <h4>Supplier</h4>
        </div>
        <div class="flip-card-back">
          <p class="back">Click to Enter</p>
        </div>
      </div>
    </div>
  </div>
</div>
