<div id="navbar">
  <a routerLink="/suppliers" routerLinkActive="active" class="nav-link"
    >Supplier List</a
  >
  <a routerLink="/create-supplier" routerLinkActive="active" class="nav-link"
    >Add Supplier</a
  >

  <a routerLink="/farmers" routerLinkActive="active" class="nav-link"
    >Farmer List</a
  >

  <a routerLink="/create-farmer" routerLinkActive="active" class="nav-link"
    >Add Farmer</a
  >
  <a routerLink="/admins" routerLinkActive="active" class="nav-link"
    >Admin List</a
  >

  <a routerLink="/create-admin" routerLinkActive="active" class="nav-link"
    >Add Admin</a
  >
  <a routerLink="/advertisements" routerLinkActive="active" class="nav-link"
    >Advertisement List</a
  >

  <a
    routerLink="/create-advertisement"
    routerLinkActive="active"
    class="nav-link"
    >Add Advertisement</a
  >
</div>
