<!-- <div id="navbar">
  <a routerLink="suppliers" routerLinkActive="active" class="nav-link"
    >Supplier List</a
  >
  <a routerLink="create-supplier" routerLinkActive="active" class="nav-link"
    >Add Supplier</a
  >

  <a routerLink="farmers" routerLinkActive="active" class="nav-link"
    >Farmer List</a
  >

  <a routerLink="create-farmer" routerLinkActive="active" class="nav-link"
    >Add Farmer</a
  >
  <a routerLink="admins" routerLinkActive="active" class="nav-link"
    >Admin List</a
  >

  <a routerLink="create-admin" routerLinkActive="active" class="nav-link"
    >Add Admin</a
  >
  <a routerLink="advertisements" routerLinkActive="active" class="nav-link"
    >Advertisement List</a
  >

  <a
    routerLink="create-advertisement"
    routerLinkActive="active"
    class="nav-link"
    >Add Advertisement</a
  >
</div> -->
<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="suppliers" routerLinkActive="active" class="nav-link"
        >Supplier List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="create-supplier" routerLinkActive="active" class="nav-link"
        >Add Supplier</a
      >
    </li>
  </ul>
</nav> -->

<!-- <router-outlet></router-outlet> -->

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
    <span>All Rights Reserved 2021 @FarmAssist </span>
  </div>
</footer>
