<div
  class="background"
  style="
    background-image: url('https://images.unsplash.com/photo-1511735643442-503bb3bd348a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  "
>
  <div class="shape"></div>

  <div class="shape"></div>
</div>

<form>
  <h3>Login Here</h3>

  <label for="username">Username</label>

  <input type="text" placeholder="Email or Phone" id="username" />

  <label for="password">Password</label>

  <input type="password" placeholder="Password" id="password" />

  <button routerLink="/tempdashboard">Log In</button>

  <div class="social">
    <div class="go"><i class="fab fa-google"></i> Google</div>

    <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
  </div>
</form>
