<h3>View Grievances Details</h3>
<div>
  <div>
    <label><b>Complaint Id:- </b></label>{{ grievance.complaintId }}
  </div>
  <div>
    <label><b>Complaint Message:- </b></label>{{ grievance.complaintMessage }}
  </div>
  <div>
    <label><b>Farmer Name:- </b></label>{{ grievance.farmer.farmer_name }}
  </div>
  <div>
    <label><b>Farmer Address:- </b></label>{{ grievance.farmer.farmer_address }}
  </div>
  <div>
    <label><b>Farmer Contact Number:- </b></label
    >{{ grievance.farmer.farmer_contact_number }}
  </div>
</div>
